
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>Thanks for answer</p>
    <h4>Click <a asp-action="AnswerList">here</a> for inviters</h4>
</body>
</html>
